.md-typeset div.arithmatex  {
  overflow: initial;
}

.md-typeset .admonition,
.md-typeset details {
font-size: 0.8rem;
border-width: 0;
border-left-width: 2px;
}

body[data-md-color-scheme^="slate"] img.autolight {
  -webkit-filter: invert(1);
  filter: invert(1);
}

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.1);
  }
}
.heart {
  animation: heart 1000ms infinite;
  color:firebrick
}

:root {
  --md-admonition-icon--savoir: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>')
}
.md-typeset .admonition.savoir,
.md-typeset details.savoir {
  border-color: rgb(219, 16, 16);
}
.md-typeset .savoir > .admonition-title,
.md-typeset .savoir > summary {
  background-color: rgba(185, 27, 101, 0.1);
  border-color: rgb(219, 16, 16);
}
.md-typeset .savoir > .admonition-title::before,
.md-typeset .savoir > summary::before {
  background-color: rgb(219, 16, 16);
  animation: heart 1000ms infinite;
  -webkit-mask-image: var(--md-admonition-icon--savoir);
          mask-image: var(--md-admonition-icon--savoir);
}


:root {
  --md-admonition-icon--guide: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5.36 0 .72 0 1.08-.05a6.09 6.09 0 0 1-.08-.95c0-.56.08-1.12.24-1.66-.41.1-.82.16-1.24.16a5 5 0 0 1-5-5 5 5 0 0 1 5-5 5 5 0 0 1 5 5c0 .29-.03.59-.08.88.66-.25 1.37-.38 2.08-.38 1.17 0 2.31.34 3.29 1 .27-.5.51-1 .71-1.5-1.73-4.39-6-7.5-11-7.5M12 9a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3m6 5.5v3h-3v2h3v3h2v-3h3v-2h-3v-3h-2Z"/></svg>')
}
.md-typeset .admonition.guide,
.md-typeset details.guide {
  border-color: rgb(0, 128, 0);
}
.md-typeset .guide > .admonition-title,
.md-typeset .guide > summary {
  background-color: rgba(185, 27, 101, 0.1);
  border-color: rgb(0, 128, 0);
}
.md-typeset .guide > .admonition-title::before,
.md-typeset .guide > summary::before {
  background-color: rgb(0, 128, 0);
  -webkit-mask-image: var(--md-admonition-icon--guide);
          mask-image: var(--md-admonition-icon--guide);
}



